<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="username" placeholder="username">
      <input type="password" name="password" value="password" placeholder="password">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
